
.faq {
    padding: 115px 0;
    background: #F5F5F5; 
}
.faq h2 {
    font-family: SFUIDisplay-Bold;
    font-size: 38pt;
    color: #3B434E;
    text-transform: uppercase;
    margin-bottom: 65px;
}

.faq p {
    margin: 0 auto 50px;
    color: #3B434E;
    font-size: 12pt;
    font-family: SF-UI-Display;
    line-height: 2;
    text-align: left;
}


.accordion-container {
    position: relative;
    height: auto;
    background: #fff;
}


.set {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #2F3D52;
    margin-bottom: 2px; 
}
.set:hover,.set > a.active  {
    background-color: #365687;
}
.set > a {
    display: block;
    padding: 30px 25px;
    text-decoration: none;
    color: #fff;
    font-size: 12pt;
    font-family: SF-UI-Display;
    text-align: left;
}
.set > a i {
    position: relative;
    float: left;
    margin-top: -8px;
    color: #666;
    height: 40px;
    width: 40px;
    z-index: 333;
    background: url(../img/plus.jpg)no-repeat;
    margin-left: 0px;
    margin-right: 20px;
}
.set:hover > a i {
    background: url(../img/plus-h.jpg)no-repeat;
}
.set > a.active i {
    color: #fff;
    background: url(../img/minus.jpg)no-repeat;
}
.content {
    position: relative;
    width: 100%;
    font-size: 15px;
    height: 100%;
    background-color: #FFFFFF;
    display: none;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 25px;
}
.content p {
    display: block;
    margin: 0 auto;
    color: #3b434e;
    font-size: 12pt;
    font-family: SF-UI-Display;
    line-height: 2;
    text-align: left;
}

@media screen and (max-width: 1023px)   {
    .faq { padding: 65px 0;}
}
@media screen and (max-width: 767px)   {
    .set > a { text-align: center;}
}
@media screen and (max-width: 560px)   {
    .set > a i {display: none;}
    .content p { text-align: center;}
    .content {
    padding-left: 10px;
    padding-right: 10px;
}

}